@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

.shadow_image_right {
  box-shadow: rgba(225, 29, 72, 0.4) 5px 5px, rgba(225, 29, 72, 0.3) 10px 10px,
    rgba(225, 29, 72, 0.2) 15px 15px, rgba(225, 29, 72, 0.1) 20px 20px,
    rgba(225, 29, 72, 0.05) 25px 25px;
}

.shadow_image_left {
  box-shadow: rgba(225, 29, 72, 0.4) -5px 5px, rgba(225, 29, 72, 0.3) -10px 10px,
    rgba(225, 29, 72, 0.2) -15px 15px, rgba(225, 29, 72, 0.1) -20px 20px,
    rgba(225, 29, 72, 0.05) -25px 25px;
}

.shadow_image {
  box-shadow: rgba(225, 29, 72, 0.35) 0px 5px 15px;
}
